/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* CORES */
  --primary-color: #0d0d0d;
  --secondary-color-white: #f7f9f9;
  --tertiary-color-green: #0abf04;
  --gradient: linear-gradient(91.04deg, #0abf04 0.74%, #76ee0c 100.37%);
  --darkgreen: #0b8c06;

  /* TAMANHO DAS FONTES */
  --msize-title: 4.2rem;
  --msize-subt: 1.8rem;
  --msize-para: 1.6rem;

  font-size: 62.5%;
  /* 1rem = 10px */

  --nav-height: 7.2rem;

  /* VELOCIDADE DA ABERTURA DO MENU*/
  --velocity: 0.3s;
  /* mobile */
  --space-padding: 2rem 0 2rem 0;
  --space-padding2: 0 0 2rem 0;
  /* desktop */
  --space-padding3: 4rem 0 4rem 0;
  --space-padding4: 0 0 3rem 0;

  --border-radius: 1.5rem;
  --border-radius2: 0.8rem;
}

/* HOVER */
#backToTop:hover,
.button-Whatsapp:hover,
.button:hover,
#button-scroll button:hover {
  background: #0abf04;
  cursor: pointer;
}

/* ===== TITULOS ===== */
.title {
  width: 100%;

  font-size: var(--msize-title);
  text-align: left;
  font-weight: 700;

  color: var(--primary-color);
  padding: var(--space-padding);
}

.title span {
  color: var(--tertiary-color-green);
}

/* ===== LINHAS DA SECTION ===== */
.line {
  background: var(--gradient);
  height: 1px;
  width: 100%;
}

.pre-line {
  position: absolute;
  width: 100%;
  background: var(--gradient);
  height: 1px;
}

/* BOTÕES */
.button {
  height: 5rem;
  width: 30rem;
  background: var(--gradient);
  color: #ffffff;

  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;

  font-weight: 700;
}

.button a {
  text-decoration: none;
  color: #ffffff;

  text-transform: uppercase;

  font-size: 1.7rem;
  font-weight: 700;
}

/* ========================= */
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color-white);
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  overflow: overlay;
}

/* ===== BOTÕES DO WHATSAPP E BACKTOTOP ===== */
.buttons-links {
  height: 12rem;
  width: 5rem;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  bottom: 3rem;
  right: 3rem;

  z-index: 10000;
}

/* ===== BACKTOTOP ===== */
#backToTop {
  height: 5rem;
  width: 5rem;

  background: var(--gradient);

  display: none;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

#backToTop img {
  height: 3rem;
  width: 3rem;

  cursor: pointer;
}

/* -----------------------  */
.buttons img {
  height: 5rem;
  width: 5rem;

  cursor: pointer;
}

.button-Whatsapp {
  height: 5rem;
  width: 5rem;

  background: var(--gradient);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.button-Whatsapp a {
  height: 5rem;
  width: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.button-Whatsapp img {
  height: 30px;
  width: 30px;
}

/* ===== WRAPPER ====== */
.wrapper {
  width: min(55rem, 100%);

  margin-left: 200px;
  margin-inline: auto;

  padding-inline: 3.5rem;
}

/* ===== WRAPPER HEADER ====== */
.pre-wrapper {
  width: min(55rem, 100%);

  display: none;

  margin-left: 200px;
  margin-inline: auto;
  padding-inline: 3.5rem;
}

/* ===== PRE-NAV ===== */
header .pre-wrapper .pre-nav {
  display: none;
  visibility: hidden;
}

header .pre-wrapper .pre-nav .contatos div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .pre-wrapper .pre-nav .contatos div p {
  font-size: 1.4rem;
}

header .pre-wrapper .pre-nav .contatos img {
  height: 1.7rem;
  width: 1.7rem;
}

/* ===== MENU DESKTOP ===== */
#nav-desktop {
  display: none;
}

/* ===== MENU ===== */
#menu {
  height: 100vh;
  width: 0;

  display: block;
  justify-content: center;

  position: absolute;

  transition: var(--velocity);
  visibility: hidden;
  overflow-x: hidden;

  right: 0;

  z-index: 1000;

  background-color: var(--primary-color);
}

#nav.active #menu {
  visibility: visible;
  overflow-x: hidden;

  width: 100%;
}

#active-btn-mobile {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.5rem;

  border: none;
  background: none;
  cursor: pointer;
}

/* ===== MENU HAMBURGUER ===== */
#hamburguer {
  display: block;
  border-top: 2px solid;
  width: 20px;
  color: var(--tertiary-color-green);
}

#hamburguer::after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: var(--velocity);
  position: relative;
}

#hamburguer::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: var(--velocity);
  position: relative;
}

#nav.active #hamburguer {
  border-top-color: transparent;
}

#nav.active #hamburguer::before {
  transform: rotate(135deg);
}

#nav.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
  width: 20px;
}

/* ===== menu-link ===== */
.menu-links {
  height: 90%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.menu-links ul li {
  padding: 1.5rem;
  list-style: none;
}

.menu-links ul li a {
  font-size: var(--msize-subt);
  font-weight: 600;
  text-decoration: none;

  color: var(--secondary-color-white);
}

.menu-links .social-media img {
  padding: 0.5rem;
}

.menu-links .logoV {
  width: 100%;
}

.menu-links .logoV img {
  height: 7rem;
  width: 8rem;
}

/* ========== NAVIGATION ========== */

header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 7.5rem;

  position: fixed;
  top: 0;
  width: 100%;

  z-index: 100;
}

header #logo img {
  height: 4.8rem;
  width: 17rem;
}

header #logo.activeLogo img {
  opacity: 0;
  transition: var(--velocity);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

header .wrapper .navigation {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ========== HOME ========== */
#home {
  height: 85rem;
  padding-block: 0;
  padding-top: 22rem;
  background: var(--primary-color);
}

#home .container {
  height: 40rem;
}

#home .header h4 {
  text-align: center;

  font-size: var(--msize-subt);
  font-weight: 700;

  color: var(--tertiary-color-green);
}

#home .header h1 {
  font-weight: 700;
  font-size: var(--msize-title);
  color: var(--secondary-color-white);
}

#home .content p {
  font-size: var(--msize-para);
  line-height: 150%;
  font-weight: 500;
  color: var(--secondary-color-white);

  margin-top: 2.2rem;
  margin-bottom: 3.2rem;
}

/*------ HOME STATS ------*/
#home .stats {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;

  background: var(--gradient);
  border: none;
  border-radius: 0.6rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

  border: 1px solid white;
  z-index: 9999999999;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--secondary-color-white);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--secondary-color-white);
  font-size: 1.6rem;
  line-height: 150%;
}

/*------ QUEM SOMOS ------*/
#about {
  padding-top: 27rem;
}

#about h1 {
  text-align: left;
  font-size: var(--msize-title);
}

#about h2 {
  font-size: var(--msize-subt);
  font-weight: 700;
  text-align: left;
  padding: var(--space-padding2);
}

#about p {
  text-align: left;
  margin-bottom: 4rem;
  font-size: var(--msize-para);
}

#about .content div div img {
  display: none;
}

#about img {
  width: 257.28px;
  height: 304.01px;
}

/* NOSSA CULTURA */
#culture {
  padding: 8rem 0 8rem 0;
}

#culture .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#culture .wrapper .title {
  text-align: center;
}

#culture .wrapper .paragrafo {
  width: 70%;
  padding: var(--space-padding2);
  font-size: var(--msize-para);
}

#culture .wrapper .cards {
  width: 100%;
  display: grid;
  grid-template-columns: (3, 1fr);
  gap: 1.5rem;

  align-items: center;
  justify-content: center;
}

#culture .wrapper .card:hover .info {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#culture .wrapper .info {
  height: 100%;
  width: 30rem;

  padding: 3rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--darkgreen);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

#culture .wrapper .card h2 {
  font-size: var(--msize-subt);
}

#culture .wrapper .card img {
  height: 10rem;
}

#culture .wrapper .card ul li {
  padding-top: 0;
  list-style: none;
  font-size: var(--msize-para);
}

/* ===== TRAJETORIA ===== */
#trajetoria .wrapper {
  height: 100rem;
  margin-bottom: 6rem;
}

#trajetoria .wrapper .card-trajetoria {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#trajetoria .card-trajetoria .header {
  width: 100%;
}

#trajetoria .card-trajetoria .header h1 {
  width: 100%;
  color: var(--tertiary-color-green);
  text-align: center;
}

#trajetoria .card-trajetoria .header h1 span {
  color: var(--primary-color);
}

#trajetoria .card-trajetoria .header p {
  width: 100%;
  font-size: var(--msize-para);
  color: var(--primary-color);
  text-align: center;
  padding: var(--space-padding2);
}

#trajetoria .cards {
  width: 100%;
  height: 70rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

#trajetoria .cards .card {
  height: 17rem;
  width: 100%;
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#trajetoria .cards .card .info {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: var(--border-radius);

  -webkit-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
}

/* pro e enterprise */
#trajetoria .cards .card.clickmassapro .info,
#trajetoria .cards .card.enterprise .info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: var(--border-radius);
}

#trajetoria .cards .card .info .titulo {
  height: 100%;
  width: 65%;
}

#trajetoria .cards .card .info .titulo h1 {
  height: 20%;

  color: var(--tertiary-color-green);

  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  padding: 1rem 0 0 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#trajetoria .cards .card .info .titulo p {
  height: 80%;
  width: 100%;

  font-size: 1rem;
  color: var(--primary-color);

  padding: 1rem 1.5rem 0 2rem;

  text-align: left;
}

#trajetoria .cards .card .info .data {
  background-color: var(--tertiary-color-green);
  color: #ffffff;
  height: 100%;
  width: 35%;

  border-radius: var(--border-radius2);

  display: flex;
  align-items: center;
  justify-content: center;
}

#trajetoria .cards .card .info .data h1 {
  font-size: 3.4rem;
  font-weight: 700;
}

#trajetoria .cards .card .imagem {
  display: none;
}

/* pro */
#trajetoria .cards .card.clickmassapro {
  flex-direction: row-reverse;
  justify-content: space-around;
}

#trajetoria .cards .card.clickmassapro .info .titulo h1 {
  color: #2d5385;
}

#trajetoria .cards .card.clickmassapro .data {
  background-color: #2d5385;
  color: #40b1e6;
}

/* plus */
#trajetoria .cards .card.clickmassaplus .data {
  background-color: #2d5385;
  color: #40b1e6;
}

#trajetoria .cards .card.clickmassaplus .info .titulo h1 {
  color: #2d5385;
}

/* enterprise */
#trajetoria .cards .card.enterprise .data {
  background-color: #373435;
  color: #c8ae77;
}

#trajetoria .cards .card.enterprise .info .titulo h1 {
  color: #c8ae77;
}

/* plus */
#trajetoria .cards .card.enterprise {
  flex-direction: row-reverse;
  justify-content: space-around;
}

/*===== NOSSOS PRODUTOS =====*/
#produtos {
  padding: 5rem 0 3rem 0;
}

#produtos .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#produtos .produtos-info {
  text-align: left;
}

#produtos .produtos-info h3 {
  font-size: var(--msize-subt);
}

#produtos .produtos-info p {
  font-size: var(--msize-para);
  padding: var(--space-padding2);
}

#produtos .produtos-info p span {
  color: var(--tertiary-color-green);
  font-weight: 700;
}
#produtos .tituloProdutos{
  margin-bottom: 2rem;
  width: 100%;
}
#produtos .tituloProdutos h1{
  text-align: left;
  font-size: 2rem;
  color:#2d5385;
}

/* scroll bar */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* button scroll horizonte*/
#button-scroll {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  padding: var(--space-padding2);
}

#button-scroll button {
  background: var(--gradient);
  border-radius: 20%;
  height: 3rem;
  width: 3rem;

  border: none;
}

/* produtos swiper 2 */

#produtos .container2 {
  width: 40rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow-x: scroll;

  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
}

#produtos .container2 .item2 {
  flex: 0 0 100%;
  scroll-snap-align: start;
  margin-bottom: 1rem;
}

/* cards produtos */
#produtos .container2 .item2 .cards2 {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#produtos .container2 .item2 .product-card2 {
  background-color: white;
  height: 50rem;
  width: 35rem;

  border-radius: var(--border-radius);

  padding: 2.2rem;
  -webkit-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
}

#produtos .container2 .item2 .product-card2 .img {
  width: 100%;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
}

#produtos .container2 .item2 .product-card2 .details h2 {
  height: 12rem;
  width: 100%;
  font-size: 2.4rem;
  color: #30618c;
  text-align: left;

  padding: 1.4rem 0 0.5rem 0;
}

#produtos .container2 .item2 .product-card2 .details h2 span {
  height: 10rem;
  width: 100%;
  font-size: 2.4rem;
  color: #48b1e7;
  text-align: left;

  padding: 1.4rem 0 0.5rem 0;
}

#produtos .container2 .item2 .product-card2 .details p {
  margin-top: 1.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  color: #30618c;
  text-align: left;
  width: 90%;
}

#produtos .container2 .item2 .product-card2 .details .titulo-produtos a button {
  background-color: #48b1e7;
  border-radius: var(--border-radius2);
  color: #ffffff;
  width: 100%;
  height: 5rem;

  margin-top: 1rem;
  margin-bottom: 1rem;

  text-transform: uppercase;
  border: none;

  font-weight: 700;

  cursor: pointer;
}

#produtos .container2 .item2 .product-card2 .details ul {
  height: 100%;
  width: 95%;

  text-align: left;
  font-size: 1.4rem;
  color: #30618c;

  margin-left: 1.7rem;
  line-height: 1.7rem;
}

/* interprise */

#produtos .container2 .item2 .product-card2.enterprise .details h2 {
  width: 70%;
  font-size: 2.4rem;
  color: #373435;
  text-align: left;

  padding: 1.4rem 0 0.5rem 0;
}

#produtos .container2 .item2 .product-card2.enterprise .details h2 span {
  color: #c8ae77;
}

#produtos .container2 .item2 .product-card2.enterprise .details p {
  margin-top: 1.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  color: #373435;
  text-align: left;
  width: 90%;
}

#produtos
  .container2
  .item2
  .product-card2.enterprise
  .details
  .titulo-produtos
  button {
  background-color: #c8ae77;
  border-radius: 1rem;
  color: #ffffff;
  width: 100%;
  height: 5rem;

  margin-top: 1rem;
  margin-bottom: 1rem;

  text-transform: uppercase;
  border: none;
}

#produtos .container2 .item2 .product-card2.enterprise .details ul {
  width: 90%;
  text-align: left;
  color: #373435;
  margin-left: 1.7rem;
  line-height: 1.7rem;
}

#produtos .container2 .item2 .side {
  display: none;
}

/* produtos swiper 1 */
#produtos .container {
  width: 40rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow-x: scroll;

  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  border-radius: 0.8rem;
  gap: 1.2rem;
}

#produtos .container .item {
  flex: 0 0 100%;
  margin-bottom: 1rem;
  scroll-snap-align: start;
}

/* cards produtos */
#produtos .container .item .cards {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#produtos .container .item .product-card {
  background-color: #ffffff;
  height: 40rem;
  width: 30rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  border-radius: var(--border-radius);
  padding: 2.2rem;
  -webkit-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
}

#produtos .container .item .product-card .img {
  width: 100%;
  height: 15rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 16px;
}

#produtos .container .item .product-card .details h2 {
  width: 95%;

  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;
  text-align: left;

  margin-top: -2rem;

  color: #30618c;
  padding: 1.4rem 0 0.5rem 0;
}

#produtos .container .item .product-card .details h2 span {
  color: #48b1e7;
  font-size: 2.6rem;
}

#produtos .container .item .product-card .details p {
  color: #30618c;
  font-size: 1.5rem;
  text-align: left;
  line-height: 2rem;
}

#produtos .container .item .product-card .details ul {
  width: 90%;
  color: #30618c;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1rem;
  margin-left: 1.7rem;
  line-height: 1.7rem;
}

/* VARAJÃO */
#produtos .container .item.varejao .product-card .details h2 {
  width: 100%;
  color: #538135;
}

#produtos .container .item.varejao .product-card .details h2 span {
  color: #cf7604;
}

#produtos .container .item.varejao .product-card .details ul {
  color: #538135;
}

/* ASAAS */
#produtos .container .item.asaas .product-card .details h2 {
  color: #30618c;
}

#produtos .container .item.asaas .product-card .details h2 span {
  color: #0030b9;
}

#produtos .container .item.asaas .product-card .details ul {
  color: #30618c;
}

/* EMPRESAS QUE CONFIAM */

#empresas .wrapper {
  height: 80rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#empresas .title {
  line-height: 5rem;
  text-align: center;
}

#empresas .img-empresas {
  height: 50rem;
  max-width: 100rem;
  flex-wrap: wrap;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  gap: 1.5rem;
  padding: 3rem;
}

#empresas .img-empresas img {
  height: 7rem;
}

/*=====  COMENTARIOS ===== */
#depoimentos {
  padding: 5rem 0 3rem 0;
  padding: var(--space-padding);
}

#depoimentos .wrapper {
  height: 70rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#depoimentos .titulos {
  width: 100%;
}

#depoimentos .titulos h3 {
  color: var(--tertiary-color-green);
  font-size: 1.5rem;
}

#depoimentos .titulos h2 {
  font-size: 2.5rem;
}

#depoimentos .titulos h2 span {
  color: var(--tertiary-color-green);
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper #comentarios {
  background-color: #ffffff;
  height: 50rem;
  width: 40rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 2.2rem;
  gap: 1rem;

  border-radius: 1.5rem;
  overflow-y: hidden;

  margin-top: 1rem;
}

#comentarios .card-foto {
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#comentarios .card-foto div img {
  height: 17rem;
  width: 17rem;

  -webkit-box-shadow: -5px 5px 15px -8px #000000;
  box-shadow: -5px 5px 15px -8px #000000;

  border-radius: 1.5rem;
}

#comentarios .info {
  width: 100%;
  height: 100%;
}

#comentarios .info h1 {
  font-size: 2rem;
}

#comentarios .info h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#comentarios .info p {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.2rem 0 3rem 0;
}

.swiper-button-prev:after,
.swiper-button-next {
  display: none;
}

/* =================== */

/* CONTATOS */
#contato .wrapper {
  height: 60rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-direction: column;
}

#contato .titulos {
  height: 23rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}

#contato .titulos h1 {
  font-size: var(--msize-subt);
  width: 90%;
  text-align: left;
}

#contato .titulos .info {
  width: 90%;
  display: flex;
  align-items: center;
}

#contato .titulos .info p {
  font-size: 1.4rem;
  margin-left: 1rem;
}

/* FOOTER */
#footer .wrapper {
  width: 100%;
  background: var(--primary-color);
  height: 22rem;
  color: var(--secondary-color-white);

  display: flex;
  align-items: center;
}

#footer .content {
  height: 75%;
  width: 100%;

  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

#footer .content h1,
p {
  font-size: var(--msize-para);
}

#footer .links a{
  text-decoration: none;
}

@media (min-width: 900px) {
  .wrapper {
    width: min(80rem, 100%);
  }

  .pre-wrapper {
    display: none;
    width: min(80rem, 100%);
  }

  /* CULTURA */
  #culture .wrapper .cards {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  #culture .wrapper .card {
    height: 100%;
    width: 25rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* TRAJETORIA */
  #trajetoria .wrapper {
    height: 120rem;
  }

  #trajetoria .cards .card .imagem {
    display: block;

    height: 13rem;
    width: 15rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;

    -webkit-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);

    position: relative;
  }

  #trajetoria .cards .card .imagem img {
    height: 3rem;
  }

  #trajetoria .cards .card .imagem::before {
    content: " ";
    background: var(--tertiary-color-green);
    height: 0.5rem;
    width: 15rem;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  #trajetoria .cards .card .imagem::after {
    content: " ";
    background: var(--tertiary-color-green);
    height: 21.5rem;
    width: 0.5rem;
    top: 0;
    position: absolute;
    z-index: -1;
  }

  /* pro */
  #trajetoria .cards .card.clickmassapro .imagem::before {
    content: " ";
    background: #054e8eff;
    height: 0.5rem;
    width: 15rem;
    left: 0;
    position: absolute;
  }

  #trajetoria .cards .card.clickmassapro .imagem::after {
    background: #054e8eff;
  }

  /* plus */
  #trajetoria .cards .card.clickmassaplus .imagem::before {
    background: #054e8eff;
  }

  #trajetoria .cards .card.clickmassaplus .imagem::after {
    background: #054e8eff;
  }

  /* enterprise */
  #trajetoria .cards .card.enterprise .imagem::before {
    content: " ";
    background: #373435;
    height: 0.5rem;
    width: 15rem;
    left: 0;
    position: absolute;
  }

  #trajetoria .cards .card.enterprise .imagem::after {
    content: " ";
    height: 0;
  }

  #trajetoria .cards {
    width: 100%;
    height: 105rem;
  }

  #trajetoria .cards .card {
    height: 23rem;
    background-color: transparent;
    justify-content: space-around;
    gap: 1.5rem;
  }

  /* pro */
  #trajetoria .cards .card.clickmassapro {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-left: 1.5rem;
  }

  #trajetoria .cards .card.clickmassapro .info .titulo h1 {
    color: #2d5385;
  }

  #trajetoria .cards .card.clickmassapro .data {
    background-color: #2d5385;
    color: #40b1e6;
  }

  /* plus */
  #trajetoria .cards .card.clickmassaplus .data {
    background-color: #2d5385;
    color: #40b1e6;
  }

  #trajetoria .cards .card.clickmassaplus .info .titulo h1 {
    color: #2d5385;
  }

  /* enterprise */
  #trajetoria .cards .card.enterprise .data {
    background-color: #373435;
    color: #c8ae77;
  }

  #trajetoria .cards .card.enterprise .info .titulo h1 {
    color: #c8ae77;
  }

  /* plus */
  #trajetoria .cards .card.enterprise {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-left: 1.5rem;
  }

  #trajetoria .cards .card .info .titulo h1 {
    font-size: 2.4rem;
  }

  #trajetoria .cards .card .info .titulo p {
    font-size: 1.5rem;
  }

  #trajetoria .cards .card .info .data h1 {
    font-size: 3.8rem;
  }

  /* PRODUTOS */
  /* produtos swiper */
  #produtos .wrapper {
    height: 130rem;
  }

  #produtos .tituloProdutos{
    display: none;
  }

  #produtos .container,
  #produtos .container2 {
    width: 100%;
    scroll-padding: none;
    gap: 2rem;
  }

  #produtos .container .item,
  #produtos .container2 .item2 {
    width: 100%;
    flex: 0;
  }

  #produtos .container2 {
    width: 100%;
    justify-content: flex-start;
  }

  /* EMPRESAS QUE CONFIAM */
  #empresas .wrapper {
    padding: 6rem 6rem;
    height: 50rem;
  }

  #empresas .img-empresas {
    flex-direction: row;
    gap: 4rem;
    padding: 3rem;
  }

  #empresas .img-empresas img {
    height: 7rem;
  }

  /* COMENTARIOS */
  #depoimentos {
    padding: 5rem 0 3rem 0;
  }

  /* swiper */
  .swiper {
    height: 60%;
    width: 90%;
  }

  .swiper #comentarios {
    height: 90%;

    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    padding: 6rem;
  }

  #comentarios .card-foto {
    height: 100%;
    width: 60%;
  }

  #comentarios .card-foto div img {
    height: 20rem;
    width: 20rem;
  }

  .swiper #comentarios .info {
    margin-top: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .swiper-button-prev:after,
  .swiper-button-next {
    display: block;
    color: black;
  }

  /* CONTATO */

  #contato .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    gap: 4rem;
  }

  #contato .wrapper .titulos {
    width: 50%;
    height: 35rem;
    padding: 5rem;
  }

  #contato .wrapper .img img {
    height: 35rem;
    width: 40rem;
  }
}

@media (min-width: 1125px) {
  .wrapper {
    width: min(120rem, 100%);
  }

  .pre-wrapper {
    display: block;
    width: min(120rem, 100%);
  }

  /* PRE-NAV */
  header .pre-wrapper .pre-nav {
    height: 4.7rem;
    width: 100%;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    visibility: visible;
  }

  .pre-nav .social-media-desktop {
    display: flex;
    gap: 0.8rem;
    cursor: pointer;
  }

  .pre-nav .social-media-desktop img {
    height: 20px;
    width: 20px;
    border-radius: 10px;
  }

  .pre-nav .contatos {
    color: var(--secondary-color-white);

    display: flex;

    gap: 4rem;
  }

  .pre-nav .contatos div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .pre-nav .contatos div img {
    height: 15px;
    width: 15px;
  }

  .pre-nav .contatos div h1 {
    padding-top: 0.5rem;
    font-size: 1.4rem;
  }

  /* MENU */
  #active-btn-mobile {
    display: none;
  }

  #nav-desktop {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #nav-desktop ul {
    height: 100%;
    width: 70%;

    gap: 0.5rem;
    font-size: 16px;
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
  }

  #nav-desktop li {
    list-style: none;
  }

  #nav-desktop li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--secondary-color-white);
    position: relative;
  }

  #nav-desktop li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--darkgreen);
    position: absolute;
    bottom: 0;
    left: 0;
    scale: 0 1;
    transform-origin: right;
    transition: 0.25s;
  }

  #nav-desktop li a:hover::after {
    scale: 1;
    transform-origin: left;
  }

  #nav-desktop li a.active {
    color: var(--darkgreen);
    font-weight: 700;
    width: 100%;
  }

  #nav-desktop li a.active::after {
    width: 100%;
    background-color: var(--darkgreen);
  }

  #nav-desktop .button {
    width: 25rem;
    height: 4rem;
  } 

  /* HOME */
  #home {
    height: 72rem;
  }

  #home .header h4 {
    text-align: center;
  }

  #home .content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #home .content p {
    width: max(63rem);
    text-align: center;
    font-size: var(--msize-para);
  }

  /* STATS */
  #home .stats {
    height: 21rem;
    flex-direction: row;
    gap: 18rem;
  }

  /* ABOUT */
  #about {
    padding-top: 18rem;
  }

  #about .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10rem;
  }

  #culture .wrapper .paragrafo {
    width: 70%;
    padding: var(--space-padding4);
    font-size: var(--msize-para);
  }

  #about .wrapper .content {
    width: 60%;
  }

  #about .wrapper .content div img {
    display: block;
    position: absolute;
    height: 8rem;
    width: 8rem;
    top: 2rem;
    left: 40rem;
  }

  #about h1 {
    text-align: left;
    margin-bottom: 2.5rem;
  }

  #about h2 {
    width: 50%;
    font-size: 2.4rem;
  }

  #about img {
    width: 360px;
    height: 400px;
  }

  /* CULTURA */
  #culture .wrapper .cards {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1rem;
    width: 100%;
  }

  #culture .wrapper .card {
    height: 100%;
    width: 35rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* TRAJETORIA */
  #trajetoria .wrapper {
    height: 120rem;
  }

  #trajetoria .cards {
    width: 90%;
    height: 90rem;
    gap: 3rem;
  }

  #trajetoria .cards .card {
    height: 20rem;
    background-color: transparent;
    justify-content: space-around;
  }
  #trajetoria .card-trajetoria .header p {
    padding: var(--space-padding4);
  }

  /* PRODUTOS */
  #produtos .wrapper {
    height: 120rem;
  }

  .product-card .img {
    height: 25rem;
    width: 25rem;
  }

  .product-card .details h1 {
    font-size: 2.4rem;
  }

  .product-card .details p {
    font-size: 1.8rem;
  }

  .product-card .cards-button {
    height: 5rem;
  }

  .product-card .cards-button button {
    font-size: 1.8rem;
    width: 12rem;
    height: 5rem;
  }

  /* produtos swiper */
  #produtos .container {
    height: 40%;
    width: 100%;
    gap: 2.5rem;
    padding: 1.5rem;
  }

  #produtos .produtos-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #produtos .produtos-info h1 {
    margin-left: 3rem;
    width: 50%;
  }

  #produtos .produtos-info h3 {
    font-size: var(--msize-subt);
    margin-top: 2rem;
  }

  #produtos .produtos-info p {
    font-size: var(--msize-para);
  }

  #produtos .container .item {
    flex: 0;
  }

  #produtos .container .cards:hover .product-card {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* cards produtos2 */
  #produtos .container2 {
    width: 115rem;
    height: 50rem;

    display: flex;
    justify-content: flex-start;

    gap: 1.5rem;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  /* cards produtos2 */
  #produtos .container2 .item2 {
    height: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: row;

    padding: 1.5rem;
  }

  #produtos .container2 .item2 .cards2 {
    background-color: #ffffff;
    height: 100%;
    width: 100%;

    display: flex;

    padding: 2.2rem;

    -webkit-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 17px -11px rgba(0, 0, 0, 0.75);

    border-radius: 1rem;
  }

  #produtos .container2 .item2 .product-card2 {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    border-radius: 0px;
    padding: 3.5rem 0 3.5rem 3.5rem;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  #produtos .container2 .item2 .product-card2 .img {
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  #produtos .container2 .item2 .product-card2 .details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  #produtos .container2 .item2 .product-card2 .details .titulo-produtos {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #produtos .container2 .item2 .product-card2 .details .info-produtos {
    width: 45%;
  }

  #produtos .container2 .item2 .product-card2 h2 {
    min-width: 100%;
    font-size: 2.4rem;
    color: #30618c;
    text-align: left;
    margin-top: -1rem;
  }

  #produtos #pro .product-card2 .titulo-produtos h2 {
    font-size: 2rem;
  }

  #produtos #pro .product-card2 .titulo-produtos h2 span {
    font-size: 2rem;
  }

  #produtos .container2 .item2 .product-card2 h3 {
    color: #48b1e7;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: left;
  }

  #produtos .container2 .item2 .product-card2 p {
    margin-top: 1.5rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #30618c;
    text-align: left;
    width: 90%;
  }

  #produtos .container2 .item2 .product-card2 .titulo-produtos button {
    background-color: #48b1e7;
    border-radius: 1rem;
    color: #ffffff;
    width: 100%;
    height: 5rem;

    margin-top: 1rem;
    margin-bottom: 1rem;

    text-transform: uppercase;
    border: none;
  }

  #produtos .container2 .item2 .product-card2 ul {
    width: 90%;
    text-align: left;
    margin-left: 1.7rem;
    line-height: 1.7rem;
    font-size: 1.4rem;
    color: #30618c;
  }

  #produtos .container2 .item2 .side {
    height: 100%;
    width: 50%;
    padding: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #produtos .container2 .item2 .side .divide {
    background-color: #48b1e7;
    height: 27rem;
    width: 41rem;
  }

  #produtos .container2 .item2 .side .divide img {
    position: relative;
    top: 2rem;
    left: 2rem;

    height: 27rem;
    width: 41rem;
  }

  /* ver mais */
  /* interprise */
  #produtos .container2 .item2 .product-card2.enterprise h2 {
    width: 70%;
    font-size: 2.4rem;
    color: #373435;
    text-align: left;

    padding: 1.4rem 0 0.5rem 0;
  }

  #produtos .container2 .item2 .product-card2.enterprise h2 span {
    margin-top: -10px;
    color: #c8ae77;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: left;
  }

  #produtos .container2 .item2 .product-card2.enterprise p {
    margin-top: 1.5rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #373435;
    text-align: left;
    width: 90%;
  }

  #produtos
    .container2
    .item2
    .product-card2.enterprise
    .titulo-produtos
    button {
    background-color: #c8ae77;
    border-radius: 1rem;
    color: #ffffff;
    width: 100%;
    height: 5rem;

    margin-top: 1rem;
    margin-bottom: 1rem;

    text-transform: uppercase;
    border: none;
  }

  #produtos .container2 .item2 .product-card2.enterprise .details ul {
    color: #373435;
    width: 100%;
    text-align: left;
    margin-left: 1.7rem;
    line-height: 1.7rem;
  }

  #produtos .container2 .cards2.enterprise .side .divide {
    background: #373435;
    height: 27rem;
    width: 41rem;
  }

  /* COMENTARIOS */

  .swiper #comentarios {
    height: 40rem;
  }

  #comentarios .card-foto div img {
    height: 25rem;
    width: 25rem;
  }

  /* CONTATO */
  #contato .wrapper {
    gap: 7rem;
  }

  #contato .wrapper .titulos {
    width: 40%;
  }
}
